.content-area {
  min-height: 82vh;
}

/* Student table */
.card-body {
  max-width: 100%;
  overflow-x: scroll;
}
#datatablesSimple {
  border-spacing: 10px;
  width: 100%;
}
.user-profile {
  border-radius: 4%;
}
.table-head {
  width: 100%;
}
.table-body {
  width: 100%;
}
.table-foot {
  width: 100%;
}

/* Not Found Page */
.notFound-main {
  background-color: #95c2de;
  margin: auto;
  height: 600px;
  width: 600px;
  position: relative;
}
.notFound-err {
  color: #ffffff;
  font-family: "Nunito Sans", sans-serif;
  font-size: 11rem;
  position: absolute;
  left: 20%;
  top: 8%;
}
.notFound-far {
  position: absolute;
  font-size: 8.5rem;
  left: 42%;
  top: 15%;
  color: #ffffff;
}
.notFound-err2 {
  color: #ffffff;
  font-family: "Nunito Sans", sans-serif;
  font-size: 11rem;
  position: absolute;
  left: 68%;
  top: 8%;
}
.notFound-msg {
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.6rem;
  position: absolute;
  left: 16%;
  top: 45%;
  width: 75%;
}
.notFound-wrapper .nav-link {
  text-decoration: none;
  color: white;
}
.notFound-wrapper .nav-link:hover {
  text-decoration: underline;
}
@media screen and (max-width: 599px) {
  .notFound-main {
    height: 91vh;
    width: 100vw;
  }
  .notFound-msg {
    font-size: 1.4rem;
    position: relative;
    left: 0%;
    margin: auto;
  }
  .notFound-err {
    left: 20%;
    top: 8%;
  }
  .notFound-far {
    left: 42%;
    top: 15%;
  }
  .notFound-err2 {
    left: 73%;
    top: 8%;
  }
}
@media screen and (max-width: 424px) {
  .notFound-err {
    left: 17%;
    top: 8%;
    font-size: 9rem;
  }
  .notFound-far {
    left: 40%;
    top: 15%;
    font-size: 7rem;
  }
  .notFound-err2 {
    left: 73%;
    top: 8%;
    font-size: 9rem;
  }
}
